body {
    margin: 0;
    overflow: hidden;
    font-size: 14;
}

* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    position: relative;
}

.title_bar,
.menu_bar,
.formula_bar {
    height: 5vh;
}

.title_bar {
    background-color: #0f703b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menu_bar {
    display: flex;
    flex-direction: row;
    background-color: #0f703b;
}

.menu-item {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 16;
}

.menu-item:hover {
    background-color: #094926;
    cursor: pointer;
}

.menu-item.selected {
    background-color: #fff;
    color: #0f703b;
    cursor: default;
}

.menu_icon_bar {
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
}

.menu-icon {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-icon:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.menu-icon.selected {
    background-color: lightgray;
}

.font-family-selector {
    width: 200px;
}

.icon-color-fill {
    position: relative;
}

.input-cell-color {
    border: none;
    position: absolute;
    width: 30px;
    height: 12px;
    padding: 0;
    top: 30px;
    left: 6px;
    background-color: lightgrey;
    cursor: pointer;
}

.icon-color-text {
    position: relative;
}

.input-cell-font-color {
    border: none;
    position: absolute;
    width: 30px;
    height: 12px;
    padding: 0;
    top: 30px;
    background-color: lightgray;
    cursor: pointer;
}

.selector {
    height: 80%;
    font-size: 18px;
}

.selector option {
    font-size: 18px;
}

.formula_bar {
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: rgb(241, 241, 241);
}

.formula_editor {
    height: 70%;
    border: 1px solid lightgray;
    background-color: #fff;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    align-items: center;
}

.selected-cell {
    width: 120px;
}

.function-sign {
    display: flex;
    width: 40px;
    justify-content: center;
}

.formula-input {
    width: calc(100vw - 160px);
    outline-color: #107c41;
}

.data-container {
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
}

.select-all {
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
}

.column-name-container {
    width: calc(100vw - 30px);
    height: 30px;
    border: 1px solid lightgray;
    display: flex;
    overflow: hidden;
}

.column-name {
    display: flex;
    min-width: 100px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
}

.row-name-container {
    width: 30px;
    height: calc(75vh - 30px);
    border: 1px solid lightgray;
    overflow: hidden;
    overflow: hidden;
}

.row-name {
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

.input-cell-container {
    width: calc(100vw - 30px);
    height: calc(75vh - 30px);
    border: 1px solid lightgray;
    overflow: scroll;
}

.cell-row {
    display: flex;
    height: 25px;
}

.input-cell {
    min-width: 100px;
    height: 25px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    outline-color: #107c41;
    overflow: hidden;
}

.input-cell.selected {
    border: 2px solid #107c41;
}

.input-cell.top-cell-selected {
    border-top: none;
}


/*Only bottom and right were given to input cell*/

.input-cell.bottom-cell-selected {
    border-bottom: 1px solid lightgray;
}

.input-cell.left-cell-selected {
    border-left: none;
}

.input-cell.right-cell-selected {
    border-right: 1px solid lightgray;
}

.sheet_bar {
    height: 4vh;
    display: flex;
    align-items: center;
}

.icon-left-scroll,
.icon-right-scroll {
    font-size: 30px;
}

.icon-left-scroll:hover,
.icon-right-scroll:hover {
    background-color: lightgray;
    cursor: pointer;
}

.scroller {
    width: 70px;
}

.icon-add {
    color: #0f703b;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
}

.icon-add:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.sheet-tab-container {
    display: flex;
    border: 1px solid lightgray;
    width: calc(100vw -70px+40px);
}

.sheet-tab:hover {
    cursor: pointer;
    background-color: lightgray;
}

.sheet-tab.selected:hover {
    cursor: default;
    background-color: white;
}

.sheet-tab.selected {
    border-bottom: 4px solid #0f703b;
}

.sheet-tab {
    padding-left: 10px;
    padding-right: 10px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.sheet-option-menu {
    position: absolute;
    bottom: 4vh;
    left: 50px;
    background-color: white;
    height: 60px;
    width: 60px;
    box-shadow: 0 0 3px 3px lightgray;
}

.rename-menu,
.delete-menu {
    height: 50%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rename-menu:hover,
.delete-menu:hover {
    background-color: lightgray;
    cursor: pointer;
}

.sheet-rename-modal {
    position: absolute;
    height: 180px;
    width: 300px;
    top: 40%;
    left: 40%;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 3px 3px lightgray;
}

.action-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sheet-rename-modal-heading {
    font-size: 22px;
    font-weight: bolder;
}

.new-sheet-name {
    height: 26px;
    font-size: 18px;
    outline-color: #107c41;
    margin-top: -20x;
    margin-bottom: 5px;
}

.submit-button,
.cancel-button {
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    padding: 8px;
}

.submit-button {
    background-color: #107c41;
    color: white;
}

.submit-button:hover {
    background-color: #094926;
}

.cancel-button {
    background-color: lightgray;
}

.cancel-button:hover {
    background-color: gray;
}

.sheet-delete-modal {
    position: absolute;
    height: 110px;
    width: 300px;
    top: 40%;
    left: 40%;
    background-color: white;
    box-shadow: 0 0 3px 3px lightgray;
    text-align: center;
}

.delete-sheet-data {
    display: flex;
    justify-content: space-evenly;
}

.yes-button,
.no-button {
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    padding: 8px;
}

.yes-button {
    background-color: #107c41;
    color: white;
}

.yes-button:hover {
    background-color: #094926;
}

.no-button {
    background-color: lightgray;
}

.no-button:hover {
    background-color: gray;
}